# Import Libs

In [5]:
import numpy as np
import pandas as pd

# Pre-processing

In [7]:
job_postings_data = pd.read_csv("postings.csv")
job_postings_data

,job_id,company_name,title,description,max_salary,pay_period,location,company_id,views,med_salary,...,skills_desc,listed_time,posting_domain,sponsored,work_type,currency,compensation_type,normalized_salary,zip_code,fips
0,921716,Corcoran Sawyer Smith,Marketing Coordinator,Job descriptionA leading real estate firm in N...,20.0,HOURLY,"Princeton, NJ",2774458.0,20.0,NaN,...,Requirements: \n\nWe are seeking a College or ...,1.713398e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,38480.0,8540.0,34021.0
1,1829192,NaN,Mental Health Therapist/Counselor,"At Aspen Therapy and Wellness , we are committ...",50.0,HOURLY,"Fort Collins, CO",NaN,1.0,NaN,...,NaN,1.712858e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,83200.0,80521.0,8069.0
2,10998357,The National Exemplar,Assitant Restaurant Manager,The National Exemplar is accepting application...,65000.0,YEARLY,"Cincinnati, OH",64896719.0,8.0,NaN,...,We are currently accepting resumes for FOH - A...,1.713278e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,55000.0,45202.0,39061.0
3,23221523,"Abrams Fensterman, LLP",Senior Elder Law / Trusts and Estates Associat...,Senior Associate Attorney - Elder Law / Trusts...,175000.0,YEARLY,"New Hyde Park, NY",766262.0,16.0,NaN,...,This position requires a baseline understandin...,1.712896e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,157500.0,11040.0,36059.0
4,35982263,NaN,Service Technician,Looking for HVAC service tech with experience ...,80000.0,YEARLY,"Burlington, IA",NaN,3.0,NaN,...,NaN,1.713452e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,70000.0,52601.0,19057.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123844,3906267117,Lozano Smith,Title IX/Investigations Attorney,Our Walnut Creek office is currently seeking a...,195000.0,YEARLY,"Walnut Creek, CA",56120.0,1.0,NaN,...,NaN,1.713571e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,157500.0,94595.0,6013.0
123845,3906267126,Pinterest,"Staff Software Engineer, ML Serving Platform",About Pinterest:\n\nMillions of people across ...,NaN,NaN,United States,1124131.0,3.0,NaN,...,NaN,1.713572e+12,www.pinterestcareers.com,0,FULL_TIME,NaN,NaN,NaN,NaN,NaN
123846,3906267131,EPS Learning,"Account Executive, Oregon/Washington",Company Overview\n\nEPS Learning is a leading ...,NaN,NaN,"Spokane, WA",90552133.0,3.0,NaN,...,NaN,1.713572e+12,epsoperations.bamboohr.com,0,FULL_TIME,NaN,NaN,NaN,99201.0,53063.0
123847,3906267195,Trelleborg Applied Technologies,Business Development Manager,The Business Development Manager is a 'hunter'...,NaN,NaN,"Texas, United States",2793699.0,4.0,NaN,...,NaN,1.713573e+12,NaN,0,FULL_TIME,NaN,NaN,NaN,NaN,NaN
123848,3906267224,Solugenix,Marketing Social Media Specialist,Marketing Social Media Specialist - $70k – $75...,75000.0,YEARLY,"San Juan Capistrano, CA",43325.0,2.0,NaN,...,NaN,1.713573e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,72500.0,92675.0,6059.0

## Kiểm tra duplicate hay null ở job_id

In [9]:
duplicates = job_postings_data['job_id'].duplicated()
num_duplicates = duplicates.sum()
num_duplicates

0

In [10]:
job_postings_data['job_id'].isnull().sum()

0

# Tương tự merge bảng job_skills và skills vào

In [12]:

# Đọc dữ liệu từ các file CSV
job_skills_data = pd.read_csv("jobs/job_skills.csv")
skills_data = pd.read_csv("mappings/skills.csv")

# Nhóm và kết hợp kỹ năng từ job_skills
job_skills_data = job_skills_data.groupby('job_id')['skill_abr'].agg(lambda x: ', '.join(x)).reset_index()

# Kết hợp job_skills với job_postings
job_postings_data = job_postings_data.merge(job_skills_data, on="job_id", how="left")

# Tách skill_abr thành danh sách và nổ tung thành các dòng riêng biệt
job_postings_data['skill_abr'] = job_postings_data['skill_abr'].str.split(', ')
job_postings_data = job_postings_data.explode('skill_abr')

# Kết hợp với bảng skills để lấy tên kỹ năng
job_postings_data = job_postings_data.merge(skills_data, on="skill_abr", how="left")

# Hiển thị kết quả cuối cùng
print(job_postings_data)

            job_id                     company_name  \
0           921716            Corcoran Sawyer Smith
1           921716            Corcoran Sawyer Smith
2          1829192                              NaN
3         10998357           The National Exemplar
4         10998357           The National Exemplar
...            ...                              ...
207526  3906267131                     EPS Learning
207527  3906267131                     EPS Learning
207528  3906267195  Trelleborg Applied Technologies
207529  3906267195  Trelleborg Applied Technologies
207530  3906267224                        Solugenix

                                       title  \
0                      Marketing Coordinator
1                      Marketing Coordinator
2          Mental Health Therapist/Counselor
3                Assitant Restaurant Manager
4                Assitant Restaurant Manager
...                                      ...
207526  Account Executive, Oregon/Washington
207527  Account Executive, Oregon/Washington
207528          Business Development Manager
207529          Business Development Manager
207530     Marketing Social Media Specialist

                                              description  max_salary  \
0       Job descriptionA leading real estate firm in N...        20.0
1       Job descriptionA leading real estate firm in N...        20.0
2       At Aspen Therapy and Wellness , we are committ...        50.0
3       The National Exemplar is accepting application...     65000.0
4       The National Exemplar is accepting application...     65000.0
...                                                   ...         ...
207526  Company Overview\n\nEPS Learning is a leading ...         NaN
207527  Company Overview\n\nEPS Learning is a leading ...         NaN
207528  The Business Development Manager is a 'hunter'...         NaN
207529  The Business Development Manager is a 'hunter'...         NaN
207530  Marketing Social Media Specialist - $70k – $75...     75000.0

       pay_period                 location  company_id  views  med_salary  \
0          HOURLY            Princeton, NJ   2774458.0   20.0         NaN
1          HOURLY            Princeton, NJ   2774458.0   20.0         NaN
2          HOURLY         Fort Collins, CO         NaN    1.0         NaN
3          YEARLY           Cincinnati, OH  64896719.0    8.0         NaN
4          YEARLY           Cincinnati, OH  64896719.0    8.0         NaN
...           ...                      ...         ...    ...         ...
207526        NaN              Spokane, WA  90552133.0    3.0         NaN
207527        NaN              Spokane, WA  90552133.0    3.0         NaN
207528        NaN     Texas, United States   2793699.0    4.0         NaN
207529        NaN     Texas, United States   2793699.0    4.0         NaN
207530     YEARLY  San Juan Capistrano, CA     43325.0    2.0         NaN

        ...              posting_domain sponsored  work_type  currency  \
0       ...                         NaN         0  FULL_TIME       USD
1       ...                         NaN         0  FULL_TIME       USD
2       ...                         NaN         0  FULL_TIME       USD
3       ...                         NaN         0  FULL_TIME       USD
4       ...                         NaN         0  FULL_TIME       USD
...     ...                         ...       ...        ...       ...
207526  ...  epsoperations.bamboohr.com         0  FULL_TIME       NaN
207527  ...  epsoperations.bamboohr.com         0  FULL_TIME       NaN
207528  ...                         NaN         0  FULL_TIME       NaN
207529  ...                         NaN         0  FULL_TIME       NaN
207530  ...                         NaN         0  FULL_TIME       USD

        compensation_type normalized_salary zip_code     fips  skill_abr  \
0             BASE_SALARY           38480.0   8540.0  34021.0       MRKT
1             BASE_SALARY           38480.0   8540.0  34021.0       SALE
2             BASE_SALARY           83200.0  80521.0   8069.0       HCPR
3             BASE_SALARY           55000.0  45202.0  39061.0       MGMT
4             BASE_SALARY           55000.0  45202.0  39061.0       MNFC
...                   ...               ...      ...      ...        ...
207526                NaN               NaN  99201.0  53063.0       SALE
207527                NaN               NaN  99201.0  53063.0         BD
207528                NaN               NaN      NaN      NaN         BD
207529                NaN               NaN      NaN      NaN       SALE
207530        BASE_SALARY           72500.0  92675.0   6059.0       MRKT

                  skill_name
0                  Marketing
1                      Sales
2       Health Care Provider
3                 Management
4              Manufacturing
...                      ...
207526                 Sales
207527  Business Development
207528  Business Development
207529                 Sales
207530             Marketing

[207531 rows x 33 columns]

# Đã xử lý xong về Job, bây giờ chuyển sang xử lý Company

In [14]:
company_data = pd.read_csv("companies/companies.csv")

company_industries_data = pd.read_csv("companies/company_industries.csv")
company_industries_data = company_industries_data.groupby('company_id')['industry'].agg(lambda x: ', '.join(x)).reset_index()



company_data = company_data.merge(company_industries_data, on="company_id", how="left")
company_data

,company_id,name,description,company_size,state,country,city,zip_code,address,url,industry
0,1009,IBM,"At IBM, we do more than work. We create. We cr...",7.0,NY,US,"Armonk, New York",10504,International Business Machines Corp.,https://www.linkedin.com/company/ibm,IT Services and IT Consulting
1,1016,GE HealthCare,Every day millions of people feel the impact o...,7.0,0,US,Chicago,0,-,https://www.linkedin.com/company/gehealthcare,Hospitals and Health Care
2,1025,Hewlett Packard Enterprise,Official LinkedIn of Hewlett Packard Enterpris...,7.0,Texas,US,Houston,77389,1701 E Mossy Oaks Rd Spring,https://www.linkedin.com/company/hewlett-packa...,IT Services and IT Consulting
3,1028,Oracle,We’re a cloud technology company that provides...,7.0,Texas,US,Austin,78741,2300 Oracle Way,https://www.linkedin.com/company/oracle,IT Services and IT Consulting
4,1033,Accenture,Accenture is a leading global professional ser...,7.0,0,IE,Dublin 2,0,Grand Canal Harbour,https://www.linkedin.com/company/accenture,Business Consulting and Services
...,...,...,...,...,...,...,...,...,...,...,...
24468,103463217,JRC Services,NaN,2.0,0,0,0,0,0,https://www.linkedin.com/company/jrcservices,Facilities Services
24469,103466352,Centent Consulting LLC,Centent Consulting LLC is a reputable human re...,NaN,0,0,0,0,0,https://www.linkedin.com/company/centent-consu...,Business Consulting and Services
24470,103467540,"Kings and Queens Productions, LLC",We are a small but mighty collection of thinke...,NaN,0,0,0,0,0,https://www.linkedin.com/company/kings-and-que...,Broadcast Media Production and Distribution
24471,103468936,WebUnite,Our mission at WebUnite is to offer experience...,NaN,Pennsylvania,US,Southampton,18966,720 2nd Street Pike,https://www.linkedin.com/company/webunite,Business Consulting and Services
24472,103472979,BlackVe,NaN,1.0,0,0,0,0,0,https://www.linkedin.com/company/blackve,Defense and Space Manufacturing

# Tiếp tục merge với Job Postings và Company. Ta sẽ có data về công ty đăng bài trên linkedln

In [16]:
merged_data = job_postings_data.merge(company_data, on="company_id", how="left")
merged_data

,job_id,company_name,title,description_x,max_salary,pay_period,location,company_id,views,med_salary,...,name,description_y,company_size,state,country,city,zip_code_y,address,url,industry
0,921716,Corcoran Sawyer Smith,Marketing Coordinator,Job descriptionA leading real estate firm in N...,20.0,HOURLY,"Princeton, NJ",2774458.0,20.0,NaN,...,Corcoran Sawyer Smith,With years of experience helping local buyers ...,2.0,NJ,US,Jersey City,07302,242 Tenth Street,https://www.linkedin.com/company/corcoran-sawy...,Real Estate
1,921716,Corcoran Sawyer Smith,Marketing Coordinator,Job descriptionA leading real estate firm in N...,20.0,HOURLY,"Princeton, NJ",2774458.0,20.0,NaN,...,Corcoran Sawyer Smith,With years of experience helping local buyers ...,2.0,NJ,US,Jersey City,07302,242 Tenth Street,https://www.linkedin.com/company/corcoran-sawy...,Real Estate
2,1829192,NaN,Mental Health Therapist/Counselor,"At Aspen Therapy and Wellness , we are committ...",50.0,HOURLY,"Fort Collins, CO",NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10998357,The National Exemplar,Assitant Restaurant Manager,The National Exemplar is accepting application...,65000.0,YEARLY,"Cincinnati, OH",64896719.0,8.0,NaN,...,The National Exemplar,"In April of 1983, The National Exemplar began ...",1.0,Ohio,US,Mariemont,45227,6880 Wooster Pike,https://www.linkedin.com/company/the-national-...,Restaurants
4,10998357,The National Exemplar,Assitant Restaurant Manager,The National Exemplar is accepting application...,65000.0,YEARLY,"Cincinnati, OH",64896719.0,8.0,NaN,...,The National Exemplar,"In April of 1983, The National Exemplar began ...",1.0,Ohio,US,Mariemont,45227,6880 Wooster Pike,https://www.linkedin.com/company/the-national-...,Restaurants
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207526,3906267131,EPS Learning,"Account Executive, Oregon/Washington",Company Overview\n\nEPS Learning is a leading ...,NaN,NaN,"Spokane, WA",90552133.0,3.0,NaN,...,EPS Learning,EPS Learning has partnered with educators for ...,2.0,MD,US,Bethesda,20814,4800 Hampden Ln,https://www.linkedin.com/company/epslearning,Education Administration Programs
207527,3906267131,EPS Learning,"Account Executive, Oregon/Washington",Company Overview\n\nEPS Learning is a leading ...,NaN,NaN,"Spokane, WA",90552133.0,3.0,NaN,...,EPS Learning,EPS Learning has partnered with educators for ...,2.0,MD,US,Bethesda,20814,4800 Hampden Ln,https://www.linkedin.com/company/epslearning,Education Administration Programs
207528,3906267195,Trelleborg Applied Technologies,Business Development Manager,The Business Development Manager is a 'hunter'...,NaN,NaN,"Texas, United States",2793699.0,4.0,NaN,...,Trelleborg Applied Technologies,Trelleborg Applied Technologies manufactures a...,2.0,Lancashire,GB,Rochdale,OL11 1TQ,Eagle Way,https://www.linkedin.com/company/trelleborg-ap...,Industrial Machinery Manufacturing
207529,3906267195,Trelleborg Applied Technologies,Business Development Manager,The Business Development Manager is a 'hunter'...,NaN,NaN,"Texas, United States",2793699.0,4.0,NaN,...,Trelleborg Applied Technologies,Trelleborg Applied Technologies manufactures a...,2.0,Lancashire,GB,Rochdale,OL11 1TQ,Eagle Way,https://www.linkedin.com/company/trelleborg-ap...,Industrial Machinery Manufacturing
207530,3906267224,Solugenix,Marketing Social Media Specialist,Marketing Social Media Specialist - $70k – $75...,75000.0,YEARLY,"San Juan Capistrano, CA",43325.0,2.0,NaN,...,Solugenix,Solugenix stands at the forefront of informati...,5.0,California,US,Brea,92823,601 Valencia Ave,https://www.linkedin.com/company/solugenix,IT Services and IT Consulting

In [17]:
merged_data.isnull().sum()

job_id                             0
company_name                    2826
title                              0
description_x                     12
max_salary                    156767
pay_period                    146431
location                           0
company_id                      2822
views                           2901
med_salary                    197195
min_salary                    156767
formatted_work_type                0
applies                       167194
original_listed_time               0
remote_allowed                180754
job_posting_url                    0
application_url                62683
application_type                   0
expiry                             0
closed_time                   206094
formatted_experience_level     48040
skills_desc                   203725
listed_time                        0
posting_domain                 69610
sponsored                          0
work_type                          0
currency                      146431
compensation_type             146431
normalized_salary             146431
zip_code_x                     36335
fips                           47242
skill_abr                       1753
skill_name                      1753
name                            2826
description_y                   4571
company_size                   11919
state                           2887
country                         2823
city                            2826
zip_code_y                      3284
address                         2900
url                             2823
industry                        3090
dtype: int64

# Loại bỏ các cột, để lại các cột để phân tích và đổi tên cột cho dễ đọc hiểu

In [19]:
choosen_column = [
    'job_id',
    'company_name',
    'title',
    'max_salary',
    'pay_period',
    'company_id',
    'views',
    'med_salary',
    'min_salary',
    'formatted_work_type',
    'applies',
    'original_listed_time',
    'remote_allowed',
    'expiry',
    'skill_abr',
    'skill_name',
    'company_size',
    'country',
    'state',
    'city',
    'industry'
]
merged_data = merged_data[choosen_column]
merged_data

,job_id,company_name,title,max_salary,pay_period,company_id,views,med_salary,min_salary,formatted_work_type,...,original_listed_time,remote_allowed,expiry,skill_abr,skill_name,company_size,country,state,city,industry
0,921716,Corcoran Sawyer Smith,Marketing Coordinator,20.0,HOURLY,2774458.0,20.0,NaN,17.0,Full-time,...,1.713398e+12,NaN,1.715990e+12,MRKT,Marketing,2.0,US,NJ,Jersey City,Real Estate
1,921716,Corcoran Sawyer Smith,Marketing Coordinator,20.0,HOURLY,2774458.0,20.0,NaN,17.0,Full-time,...,1.713398e+12,NaN,1.715990e+12,SALE,Sales,2.0,US,NJ,Jersey City,Real Estate
2,1829192,NaN,Mental Health Therapist/Counselor,50.0,HOURLY,NaN,1.0,NaN,30.0,Full-time,...,1.712858e+12,NaN,1.715450e+12,HCPR,Health Care Provider,NaN,NaN,NaN,NaN,NaN
3,10998357,The National Exemplar,Assitant Restaurant Manager,65000.0,YEARLY,64896719.0,8.0,NaN,45000.0,Full-time,...,1.713278e+12,NaN,1.715870e+12,MGMT,Management,1.0,US,Ohio,Mariemont,Restaurants
4,10998357,The National Exemplar,Assitant Restaurant Manager,65000.0,YEARLY,64896719.0,8.0,NaN,45000.0,Full-time,...,1.713278e+12,NaN,1.715870e+12,MNFC,Manufacturing,1.0,US,Ohio,Mariemont,Restaurants
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207526,3906267131,EPS Learning,"Account Executive, Oregon/Washington",NaN,NaN,90552133.0,3.0,NaN,NaN,Full-time,...,1.713572e+12,1.0,1.716164e+12,SALE,Sales,2.0,US,MD,Bethesda,Education Administration Programs
207527,3906267131,EPS Learning,"Account Executive, Oregon/Washington",NaN,NaN,90552133.0,3.0,NaN,NaN,Full-time,...,1.713572e+12,1.0,1.716164e+12,BD,Business Development,2.0,US,MD,Bethesda,Education Administration Programs
207528,3906267195,Trelleborg Applied Technologies,Business Development Manager,NaN,NaN,2793699.0,4.0,NaN,NaN,Full-time,...,1.713573e+12,1.0,1.716165e+12,BD,Business Development,2.0,GB,Lancashire,Rochdale,Industrial Machinery Manufacturing
207529,3906267195,Trelleborg Applied Technologies,Business Development Manager,NaN,NaN,2793699.0,4.0,NaN,NaN,Full-time,...,1.713573e+12,1.0,1.716165e+12,SALE,Sales,2.0,GB,Lancashire,Rochdale,Industrial Machinery Manufacturing
207530,3906267224,Solugenix,Marketing Social Media Specialist,75000.0,YEARLY,43325.0,2.0,NaN,70000.0,Full-time,...,1.713573e+12,NaN,1.716165e+12,MRKT,Marketing,5.0,US,California,Brea,IT Services and IT Consulting

# Bỏ các hàng nơi mà có company_name là NaN hoặc null

In [21]:
pretty_column_name = {'title': 'job_title','formatted_work_type': 'work_type','original_listed_time': 'listed_time'}
data = merged_data.rename(columns=pretty_column_name)
data.dropna(subset=['company_name'], inplace=True)
data

,job_id,company_name,job_title,max_salary,pay_period,company_id,views,med_salary,min_salary,work_type,...,listed_time,remote_allowed,expiry,skill_abr,skill_name,company_size,country,state,city,industry
0,921716,Corcoran Sawyer Smith,Marketing Coordinator,20.0,HOURLY,2774458.0,20.0,NaN,17.0,Full-time,...,1.713398e+12,NaN,1.715990e+12,MRKT,Marketing,2.0,US,NJ,Jersey City,Real Estate
1,921716,Corcoran Sawyer Smith,Marketing Coordinator,20.0,HOURLY,2774458.0,20.0,NaN,17.0,Full-time,...,1.713398e+12,NaN,1.715990e+12,SALE,Sales,2.0,US,NJ,Jersey City,Real Estate
3,10998357,The National Exemplar,Assitant Restaurant Manager,65000.0,YEARLY,64896719.0,8.0,NaN,45000.0,Full-time,...,1.713278e+12,NaN,1.715870e+12,MGMT,Management,1.0,US,Ohio,Mariemont,Restaurants
4,10998357,The National Exemplar,Assitant Restaurant Manager,65000.0,YEARLY,64896719.0,8.0,NaN,45000.0,Full-time,...,1.713278e+12,NaN,1.715870e+12,MNFC,Manufacturing,1.0,US,Ohio,Mariemont,Restaurants
5,23221523,"Abrams Fensterman, LLP",Senior Elder Law / Trusts and Estates Associat...,175000.0,YEARLY,766262.0,16.0,NaN,140000.0,Full-time,...,1.712896e+12,NaN,1.715488e+12,OTHR,Other,2.0,US,New York,Lake Success,Law Practice
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207526,3906267131,EPS Learning,"Account Executive, Oregon/Washington",NaN,NaN,90552133.0,3.0,NaN,NaN,Full-time,...,1.713572e+12,1.0,1.716164e+12,SALE,Sales,2.0,US,MD,Bethesda,Education Administration Programs
207527,3906267131,EPS Learning,"Account Executive, Oregon/Washington",NaN,NaN,90552133.0,3.0,NaN,NaN,Full-time,...,1.713572e+12,1.0,1.716164e+12,BD,Business Development,2.0,US,MD,Bethesda,Education Administration Programs
207528,3906267195,Trelleborg Applied Technologies,Business Development Manager,NaN,NaN,2793699.0,4.0,NaN,NaN,Full-time,...,1.713573e+12,1.0,1.716165e+12,BD,Business Development,2.0,GB,Lancashire,Rochdale,Industrial Machinery Manufacturing
207529,3906267195,Trelleborg Applied Technologies,Business Development Manager,NaN,NaN,2793699.0,4.0,NaN,NaN,Full-time,...,1.713573e+12,1.0,1.716165e+12,SALE,Sales,2.0,GB,Lancashire,Rochdale,Industrial Machinery Manufacturing
207530,3906267224,Solugenix,Marketing Social Media Specialist,75000.0,YEARLY,43325.0,2.0,NaN,70000.0,Full-time,...,1.713573e+12,NaN,1.716165e+12,MRKT,Marketing,5.0,US,California,Brea,IT Services and IT Consulting

# Điền vào các giá trị bị thiếu ở cột skill_abr sẽ là OTHR và skill_name sẽ là Other

In [23]:
data = data.replace(r'^\s*$', np.nan, regex=True)
data['skill_abr'] = data['skill_abr'].fillna('OTHR')
data['skill_name'] = data['skill_name'].fillna('Other')
data

,job_id,company_name,job_title,max_salary,pay_period,company_id,views,med_salary,min_salary,work_type,...,listed_time,remote_allowed,expiry,skill_abr,skill_name,company_size,country,state,city,industry
0,921716,Corcoran Sawyer Smith,Marketing Coordinator,20.0,HOURLY,2774458.0,20.0,NaN,17.0,Full-time,...,1.713398e+12,NaN,1.715990e+12,MRKT,Marketing,2.0,US,NJ,Jersey City,Real Estate
1,921716,Corcoran Sawyer Smith,Marketing Coordinator,20.0,HOURLY,2774458.0,20.0,NaN,17.0,Full-time,...,1.713398e+12,NaN,1.715990e+12,SALE,Sales,2.0,US,NJ,Jersey City,Real Estate
3,10998357,The National Exemplar,Assitant Restaurant Manager,65000.0,YEARLY,64896719.0,8.0,NaN,45000.0,Full-time,...,1.713278e+12,NaN,1.715870e+12,MGMT,Management,1.0,US,Ohio,Mariemont,Restaurants
4,10998357,The National Exemplar,Assitant Restaurant Manager,65000.0,YEARLY,64896719.0,8.0,NaN,45000.0,Full-time,...,1.713278e+12,NaN,1.715870e+12,MNFC,Manufacturing,1.0,US,Ohio,Mariemont,Restaurants
5,23221523,"Abrams Fensterman, LLP",Senior Elder Law / Trusts and Estates Associat...,175000.0,YEARLY,766262.0,16.0,NaN,140000.0,Full-time,...,1.712896e+12,NaN,1.715488e+12,OTHR,Other,2.0,US,New York,Lake Success,Law Practice
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207526,3906267131,EPS Learning,"Account Executive, Oregon/Washington",NaN,NaN,90552133.0,3.0,NaN,NaN,Full-time,...,1.713572e+12,1.0,1.716164e+12,SALE,Sales,2.0,US,MD,Bethesda,Education Administration Programs
207527,3906267131,EPS Learning,"Account Executive, Oregon/Washington",NaN,NaN,90552133.0,3.0,NaN,NaN,Full-time,...,1.713572e+12,1.0,1.716164e+12,BD,Business Development,2.0,US,MD,Bethesda,Education Administration Programs
207528,3906267195,Trelleborg Applied Technologies,Business Development Manager,NaN,NaN,2793699.0,4.0,NaN,NaN,Full-time,...,1.713573e+12,1.0,1.716165e+12,BD,Business Development,2.0,GB,Lancashire,Rochdale,Industrial Machinery Manufacturing
207529,3906267195,Trelleborg Applied Technologies,Business Development Manager,NaN,NaN,2793699.0,4.0,NaN,NaN,Full-time,...,1.713573e+12,1.0,1.716165e+12,SALE,Sales,2.0,GB,Lancashire,Rochdale,Industrial Machinery Manufacturing
207530,3906267224,Solugenix,Marketing Social Media Specialist,75000.0,YEARLY,43325.0,2.0,NaN,70000.0,Full-time,...,1.713573e+12,NaN,1.716165e+12,MRKT,Marketing,5.0,US,California,Brea,IT Services and IT Consulting

# Chuyển đổi UNIX TIME sang kiểu mm/dd/yyyy

In [25]:
data['listed_time'] = pd.to_datetime((data['listed_time'])/ 1000, unit='s', errors='coerce').dt.strftime('%m/%d/%Y')
data['expiry'] = pd.to_datetime((data['expiry'])/1000, unit='s', errors='coerce').dt.strftime('%m/%d/%Y')

print(data.sort_values(by='listed_time', ascending=False)['skill_abr'])
print(data.sort_values(by='expiry', ascending=True)['skill_abr'])

556       OTHR
519       HCPR
121006      PR
120682      IT
120683    OTHR
          ...
624       ANLS
623       RSCH
590       OTHR
576        ADM
577        ADM
Name: skill_abr, Length: 204705, dtype: object
6771      HCPR
6663      HCPR
6639      HCPR
2116      PRJM
33296       IT
          ...
158319      IT
120738    SALE
121025    OTHR
120932    MRKT
120631      BD
Name: skill_abr, Length: 204705, dtype: object

# Điền vào các chỗ có giá trị NaN ở cột med_salary, min_salary, max_salary với giá trị điền vào là null

In [27]:
data['med_salary'] = data['med_salary'].fillna('null')
data['min_salary'] = data['min_salary'].fillna('null')
data['max_salary'] = data['max_salary'].fillna('null')
data

,job_id,company_name,job_title,max_salary,pay_period,company_id,views,med_salary,min_salary,work_type,...,listed_time,remote_allowed,expiry,skill_abr,skill_name,company_size,country,state,city,industry
0,921716,Corcoran Sawyer Smith,Marketing Coordinator,20.0,HOURLY,2774458.0,20.0,null,17.0,Full-time,...,04/17/2024,NaN,05/17/2024,MRKT,Marketing,2.0,US,NJ,Jersey City,Real Estate
1,921716,Corcoran Sawyer Smith,Marketing Coordinator,20.0,HOURLY,2774458.0,20.0,null,17.0,Full-time,...,04/17/2024,NaN,05/17/2024,SALE,Sales,2.0,US,NJ,Jersey City,Real Estate
3,10998357,The National Exemplar,Assitant Restaurant Manager,65000.0,YEARLY,64896719.0,8.0,null,45000.0,Full-time,...,04/16/2024,NaN,05/16/2024,MGMT,Management,1.0,US,Ohio,Mariemont,Restaurants
4,10998357,The National Exemplar,Assitant Restaurant Manager,65000.0,YEARLY,64896719.0,8.0,null,45000.0,Full-time,...,04/16/2024,NaN,05/16/2024,MNFC,Manufacturing,1.0,US,Ohio,Mariemont,Restaurants
5,23221523,"Abrams Fensterman, LLP",Senior Elder Law / Trusts and Estates Associat...,175000.0,YEARLY,766262.0,16.0,null,140000.0,Full-time,...,04/12/2024,NaN,05/12/2024,OTHR,Other,2.0,US,New York,Lake Success,Law Practice
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207526,3906267131,EPS Learning,"Account Executive, Oregon/Washington",null,NaN,90552133.0,3.0,null,null,Full-time,...,04/20/2024,1.0,05/20/2024,SALE,Sales,2.0,US,MD,Bethesda,Education Administration Programs
207527,3906267131,EPS Learning,"Account Executive, Oregon/Washington",null,NaN,90552133.0,3.0,null,null,Full-time,...,04/20/2024,1.0,05/20/2024,BD,Business Development,2.0,US,MD,Bethesda,Education Administration Programs
207528,3906267195,Trelleborg Applied Technologies,Business Development Manager,null,NaN,2793699.0,4.0,null,null,Full-time,...,04/20/2024,1.0,05/20/2024,BD,Business Development,2.0,GB,Lancashire,Rochdale,Industrial Machinery Manufacturing
207529,3906267195,Trelleborg Applied Technologies,Business Development Manager,null,NaN,2793699.0,4.0,null,null,Full-time,...,04/20/2024,1.0,05/20/2024,SALE,Sales,2.0,GB,Lancashire,Rochdale,Industrial Machinery Manufacturing
207530,3906267224,Solugenix,Marketing Social Media Specialist,75000.0,YEARLY,43325.0,2.0,null,70000.0,Full-time,...,04/20/2024,NaN,05/20/2024,MRKT,Marketing,5.0,US,California,Brea,IT Services and IT Consulting

# Điền vào chỗ còn trống của các cột pay_period, applies, remote_allowed, company_size, views với giá trị lần lượt là 'MONTHLY', 0, 0, 0, 0

In [29]:
data['pay_period'] = data['pay_period'].fillna('MONTHLY')
data['applies'] = data['applies'].fillna(0)
data['remote_allowed'] = data['remote_allowed'].fillna(0)
data['company_size'] = data['company_size'].fillna(0)
data['views'] = data['views'].fillna(0)
data

,job_id,company_name,job_title,max_salary,pay_period,company_id,views,med_salary,min_salary,work_type,...,listed_time,remote_allowed,expiry,skill_abr,skill_name,company_size,country,state,city,industry
0,921716,Corcoran Sawyer Smith,Marketing Coordinator,20.0,HOURLY,2774458.0,20.0,null,17.0,Full-time,...,04/17/2024,0.0,05/17/2024,MRKT,Marketing,2.0,US,NJ,Jersey City,Real Estate
1,921716,Corcoran Sawyer Smith,Marketing Coordinator,20.0,HOURLY,2774458.0,20.0,null,17.0,Full-time,...,04/17/2024,0.0,05/17/2024,SALE,Sales,2.0,US,NJ,Jersey City,Real Estate
3,10998357,The National Exemplar,Assitant Restaurant Manager,65000.0,YEARLY,64896719.0,8.0,null,45000.0,Full-time,...,04/16/2024,0.0,05/16/2024,MGMT,Management,1.0,US,Ohio,Mariemont,Restaurants
4,10998357,The National Exemplar,Assitant Restaurant Manager,65000.0,YEARLY,64896719.0,8.0,null,45000.0,Full-time,...,04/16/2024,0.0,05/16/2024,MNFC,Manufacturing,1.0,US,Ohio,Mariemont,Restaurants
5,23221523,"Abrams Fensterman, LLP",Senior Elder Law / Trusts and Estates Associat...,175000.0,YEARLY,766262.0,16.0,null,140000.0,Full-time,...,04/12/2024,0.0,05/12/2024,OTHR,Other,2.0,US,New York,Lake Success,Law Practice
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207526,3906267131,EPS Learning,"Account Executive, Oregon/Washington",null,MONTHLY,90552133.0,3.0,null,null,Full-time,...,04/20/2024,1.0,05/20/2024,SALE,Sales,2.0,US,MD,Bethesda,Education Administration Programs
207527,3906267131,EPS Learning,"Account Executive, Oregon/Washington",null,MONTHLY,90552133.0,3.0,null,null,Full-time,...,04/20/2024,1.0,05/20/2024,BD,Business Development,2.0,US,MD,Bethesda,Education Administration Programs
207528,3906267195,Trelleborg Applied Technologies,Business Development Manager,null,MONTHLY,2793699.0,4.0,null,null,Full-time,...,04/20/2024,1.0,05/20/2024,BD,Business Development,2.0,GB,Lancashire,Rochdale,Industrial Machinery Manufacturing
207529,3906267195,Trelleborg Applied Technologies,Business Development Manager,null,MONTHLY,2793699.0,4.0,null,null,Full-time,...,04/20/2024,1.0,05/20/2024,SALE,Sales,2.0,GB,Lancashire,Rochdale,Industrial Machinery Manufacturing
207530,3906267224,Solugenix,Marketing Social Media Specialist,75000.0,YEARLY,43325.0,2.0,null,70000.0,Full-time,...,04/20/2024,0.0,05/20/2024,MRKT,Marketing,5.0,US,California,Brea,IT Services and IT Consulting

In [30]:
try:
    data.to_csv("cleaned-data.csv", index=False)
except Exception as e:
    print(f"An error occurred: {e}")