# Import Libs

In [3]:
import numpy as np
import pandas as pd

# Pre-processing

In [5]:
job_postings_data = pd.read_csv("postings.csv")
job_postings_data

,job_id,company_name,title,description,max_salary,pay_period,location,company_id,views,med_salary,...,skills_desc,listed_time,posting_domain,sponsored,work_type,currency,compensation_type,normalized_salary,zip_code,fips
0,921716,Corcoran Sawyer Smith,Marketing Coordinator,Job descriptionA leading real estate firm in N...,20.0,HOURLY,"Princeton, NJ",2774458.0,20.0,NaN,...,Requirements: \n\nWe are seeking a College or ...,1.713398e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,38480.0,8540.0,34021.0
1,1829192,NaN,Mental Health Therapist/Counselor,"At Aspen Therapy and Wellness , we are committ...",50.0,HOURLY,"Fort Collins, CO",NaN,1.0,NaN,...,NaN,1.712858e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,83200.0,80521.0,8069.0
2,10998357,The National Exemplar,Assitant Restaurant Manager,The National Exemplar is accepting application...,65000.0,YEARLY,"Cincinnati, OH",64896719.0,8.0,NaN,...,We are currently accepting resumes for FOH - A...,1.713278e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,55000.0,45202.0,39061.0
3,23221523,"Abrams Fensterman, LLP",Senior Elder Law / Trusts and Estates Associat...,Senior Associate Attorney - Elder Law / Trusts...,175000.0,YEARLY,"New Hyde Park, NY",766262.0,16.0,NaN,...,This position requires a baseline understandin...,1.712896e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,157500.0,11040.0,36059.0
4,35982263,NaN,Service Technician,Looking for HVAC service tech with experience ...,80000.0,YEARLY,"Burlington, IA",NaN,3.0,NaN,...,NaN,1.713452e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,70000.0,52601.0,19057.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123844,3906267117,Lozano Smith,Title IX/Investigations Attorney,Our Walnut Creek office is currently seeking a...,195000.0,YEARLY,"Walnut Creek, CA",56120.0,1.0,NaN,...,NaN,1.713571e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,157500.0,94595.0,6013.0
123845,3906267126,Pinterest,"Staff Software Engineer, ML Serving Platform",About Pinterest:\n\nMillions of people across ...,NaN,NaN,United States,1124131.0,3.0,NaN,...,NaN,1.713572e+12,www.pinterestcareers.com,0,FULL_TIME,NaN,NaN,NaN,NaN,NaN
123846,3906267131,EPS Learning,"Account Executive, Oregon/Washington",Company Overview\n\nEPS Learning is a leading ...,NaN,NaN,"Spokane, WA",90552133.0,3.0,NaN,...,NaN,1.713572e+12,epsoperations.bamboohr.com,0,FULL_TIME,NaN,NaN,NaN,99201.0,53063.0
123847,3906267195,Trelleborg Applied Technologies,Business Development Manager,The Business Development Manager is a 'hunter'...,NaN,NaN,"Texas, United States",2793699.0,4.0,NaN,...,NaN,1.713573e+12,NaN,0,FULL_TIME,NaN,NaN,NaN,NaN,NaN
123848,3906267224,Solugenix,Marketing Social Media Specialist,Marketing Social Media Specialist - $70k – $75...,75000.0,YEARLY,"San Juan Capistrano, CA",43325.0,2.0,NaN,...,NaN,1.713573e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,72500.0,92675.0,6059.0

## Kiểm tra duplicate hay null ở job_id

In [7]:
duplicates = job_postings_data['job_id'].duplicated()
num_duplicates = duplicates.sum()
num_duplicates

0

In [8]:
job_postings_data['job_id'].isnull().sum()

0

# Merge vào bảng benifits và loại bỏ cột inffered vì không sử dụng

In [10]:
job_benefits_data = pd.read_csv("jobs/benefits.csv")
job_benefits_data = job_benefits_data.drop('inferred', axis=1)
job_benefits_data = job_benefits_data.groupby('job_id')['type'].agg(lambda x: ', '.join(x)).reset_index()

In [11]:
job_postings_data = job_postings_data.merge(job_benefits_data, on="job_id", how="left")
job_postings_data

,job_id,company_name,title,description,max_salary,pay_period,location,company_id,views,med_salary,...,listed_time,posting_domain,sponsored,work_type,currency,compensation_type,normalized_salary,zip_code,fips,type
0,921716,Corcoran Sawyer Smith,Marketing Coordinator,Job descriptionA leading real estate firm in N...,20.0,HOURLY,"Princeton, NJ",2774458.0,20.0,NaN,...,1.713398e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,38480.0,8540.0,34021.0,NaN
1,1829192,NaN,Mental Health Therapist/Counselor,"At Aspen Therapy and Wellness , we are committ...",50.0,HOURLY,"Fort Collins, CO",NaN,1.0,NaN,...,1.712858e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,83200.0,80521.0,8069.0,NaN
2,10998357,The National Exemplar,Assitant Restaurant Manager,The National Exemplar is accepting application...,65000.0,YEARLY,"Cincinnati, OH",64896719.0,8.0,NaN,...,1.713278e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,55000.0,45202.0,39061.0,NaN
3,23221523,"Abrams Fensterman, LLP",Senior Elder Law / Trusts and Estates Associat...,Senior Associate Attorney - Elder Law / Trusts...,175000.0,YEARLY,"New Hyde Park, NY",766262.0,16.0,NaN,...,1.712896e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,157500.0,11040.0,36059.0,401(k)
4,35982263,NaN,Service Technician,Looking for HVAC service tech with experience ...,80000.0,YEARLY,"Burlington, IA",NaN,3.0,NaN,...,1.713452e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,70000.0,52601.0,19057.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123844,3906267117,Lozano Smith,Title IX/Investigations Attorney,Our Walnut Creek office is currently seeking a...,195000.0,YEARLY,"Walnut Creek, CA",56120.0,1.0,NaN,...,1.713571e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,157500.0,94595.0,6013.0,"Medical insurance, Vision insurance, Dental in..."
123845,3906267126,Pinterest,"Staff Software Engineer, ML Serving Platform",About Pinterest:\n\nMillions of people across ...,NaN,NaN,United States,1124131.0,3.0,NaN,...,1.713572e+12,www.pinterestcareers.com,0,FULL_TIME,NaN,NaN,NaN,NaN,NaN,NaN
123846,3906267131,EPS Learning,"Account Executive, Oregon/Washington",Company Overview\n\nEPS Learning is a leading ...,NaN,NaN,"Spokane, WA",90552133.0,3.0,NaN,...,1.713572e+12,epsoperations.bamboohr.com,0,FULL_TIME,NaN,NaN,NaN,99201.0,53063.0,NaN
123847,3906267195,Trelleborg Applied Technologies,Business Development Manager,The Business Development Manager is a 'hunter'...,NaN,NaN,"Texas, United States",2793699.0,4.0,NaN,...,1.713573e+12,NaN,0,FULL_TIME,NaN,NaN,NaN,NaN,NaN,NaN
123848,3906267224,Solugenix,Marketing Social Media Specialist,Marketing Social Media Specialist - $70k – $75...,75000.0,YEARLY,"San Juan Capistrano, CA",43325.0,2.0,NaN,...,1.713573e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,72500.0,92675.0,6059.0,NaN

# Tương tự merge bảng job_skills và skills vào

In [ ]:

# Đọc dữ liệu từ các file CSV
job_skills_data = pd.read_csv("jobs/job_skills.csv")
skills_data = pd.read_csv("mappings/skills.csv")

# Nhóm và kết hợp kỹ năng từ job_skills
job_skills_data = job_skills_data.groupby('job_id')['skill_abr'].agg(lambda x: ', '.join(x)).reset_index()

# Kết hợp job_skills với job_postings
job_postings_data = job_postings_data.merge(job_skills_data, on="job_id", how="left")

# Tách skill_abr thành danh sách và nổ tung thành các dòng riêng biệt
job_postings_data['skill_abr'] = job_postings_data['skill_abr'].str.split(', ')
job_postings_data = job_postings_data.explode('skill_abr')

# Kết hợp với bảng skills để lấy tên kỹ năng
job_postings_data = job_postings_data.merge(skills_data, on="skill_abr", how="left")

# Hiển thị kết quả cuối cùng
print(job_postings_data)

# Đã xử lý xong về Job, bây giờ chuyển sang xử lý Company

In [ ]:
company_data = pd.read_csv("companies/companies.csv")

company_industries_data = pd.read_csv("companies/company_industries.csv")
company_industries_data = company_industries_data.groupby('company_id')['industry'].agg(lambda x: ', '.join(x)).reset_index()

company_specialities_data = pd.read_csv("companies/company_specialities.csv")
company_specialities_data = company_specialities_data.groupby('company_id')['speciality'].agg(lambda x: ', '.join(x)).reset_index()

employee_counts_data = pd.read_csv("companies/employee_counts.csv")
employee_counts_data = employee_counts_data.groupby('company_id')['time_recorded'].max().reset_index()

company_data = company_data.merge(company_industries_data, on="company_id", how="left")
company_data = company_data.merge(company_specialities_data, on="company_id", how="left")
company_data = company_data.merge(employee_counts_data, on="company_id", how="left")
company_data

# Tiếp tục merge với Job Postings và Company. Ta sẽ có data về công ty đăng bài trên linkedln

In [ ]:
merged_data = job_postings_data.merge(company_data, on="company_id", how="left")
merged_data

In [ ]:
merged_data.isnull().sum()

# Loại bỏ các cột, để lại các cột để phân tích và đổi tên cột cho dễ đọc hiểu

In [ ]:
choosen_column = [
    'job_id',
    'company_name',
    'title',
    'max_salary',
    'pay_period',
    'company_id',
    'views',
    'med_salary',
    'min_salary',
    'formatted_work_type',
    'applies',
    'original_listed_time',
    'remote_allowed',
    'expiry',
    'skill_abr',
    'skill_name',
    'company_size',
    'country',
    'state',
    'city',
    'industry'
]
merged_data = merged_data[choosen_column]
merged_data

# Bỏ các hàng nơi mà có company_name là NaN hoặc null

In [ ]:
pretty_column_name = {'title': 'job_title','formatted_work_type': 'work_type','original_listed_time': 'listed_time'}
data = merged_data.rename(columns=pretty_column_name)
data.dropna(subset=['company_name'], inplace=True)
data

# Điền vào các giá trị bị thiếu ở cột skill_abr sẽ là OTHR và skill_name sẽ là Other

In [ ]:
data = data.replace(r'^\s*$', np.nan, regex=True)
data['skill_abr'] = data['skill_abr'].fillna('OTHR')
data['skill_name'] = data['skill_name'].fillna('Other')
data

# Chuyển đổi UNIX TIME sang kiểu mm/dd/yyyy

In [ ]:
data['listed_time'] = pd.to_datetime((data['listed_time'])/ 1000, unit='s', errors='coerce').dt.strftime('%m/%d/%Y')
data['expiry'] = pd.to_datetime((data['expiry'])/1000, unit='s', errors='coerce').dt.strftime('%m/%d/%Y')

print(data.sort_values(by='listed_time', ascending=False)['skill_abr'])
print(data.sort_values(by='expiry', ascending=True)['skill_abr'])

# Điền vào các chỗ có giá trị NaN ở cột med_salary, min_salary, max_salary với giá trị điền vào là giá trị trung bình của cột med_salary, min_salary, max_salary

In [ ]:
data['med_salary'] = data['med_salary'].fillna(data['med_salary'].mean())
data['min_salary'] = data['min_salary'].fillna(data['min_salary'].mean())
data['max_salary'] = data['max_salary'].fillna(data['max_salary'].mean())
data

# Điền vào chỗ còn trống của các cột pay_period, applies, remote_allowed, company_size, views với giá trị lần lượt là 'MONTHLY', 0, 0, 0, 0

In [ ]:
data['pay_period'] = data['pay_period'].fillna('MONTHLY')
data['applies'] = data['applies'].fillna(0)
data['remote_allowed'] = data['remote_allowed'].fillna(0)
data['company_size'] = data['company_size'].fillna(0)
data['views'] = data['views'].fillna(0)
data

In [ ]:
try:
    data.to_csv("cleaned-data.csv", index=False)
except Exception as e:
    print(f"An error occurred: {e}")